* {
margin: 0;
padding: 0;
}
body {
  background: url('../img/landscape.jpg');
}
h1 {
  font-family: Typewriter;
  color: #fff;
  text-align: center;
}

#weather {
  display: flex;
  flex-flow: row;
  flex-wrap:wrap;
  justify-content: space-between;
  font-family: sans-serif;
}
/*
@media only screen and (max-width: 320px) {

  body {
    background: red;
  }
  h1 {
    font-size: 2rem;
  }
  main {
  display: flex;
  flex-flow: column;
  }
  #map {
    width: 100vw;
    height: 100vh;
  }
  #weather {
   width: 100vw;
   height: 30vh;
   display: flex;
   flex-flow: column;
  }
  #weather > .forecastMoment {
  	width: 100%;
  	margin: 2px;
  	padding: 2px 0px;
  	text-align: center;
  	background-color: rgba(140,159,189,.6);
  	border-radius: 6px;
  	color: #ace7ef;
  	font-size: 1.1em;
  }

  .temp {
  	font-weight: bold;
  	color: #dffdff;
  	font-size: 1.4em;
  }
} */
/*
@media only screen and (min-width: 321px) and (max-width: 720px) {
  h1 {
    font-size: 2rem;
  }
  main {
  display: flex;
  flex-flow: column;
  }
  #map {
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (min-width: 721px) and (max-width: 1024px) {
main {
  display: flex;
  flex-flow: row;
}
#map {
  width: 65vw;
}
}

@media only screen and (min-width: 1025px) {
main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
}
#map {
  width: 60%;
  height: 90vh;
}
#weather {
 width: 30%;
 height: 90vh;
 display: flex;
 flex-flow: column;
}
#weather > .forecastMoment {
	width: 100%;
	margin: 1px;
	padding: 2px 0px;
	text-align: center;
	background-color: rgba(140,159,189,.6);
	border-radius: 6px;
	color: #ace7ef;
	font-size: 0.9em;
}

.temp {
	font-weight: bold;
	color: #dffdff;
	font-size: 1.2em;
}
} */
